
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f9f9ff;
    color: #333;
    margin: 0;
    padding: 20px;
}


header {
    background: linear-gradient(135deg, #ff99cc, #66ccff);
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    border: 2px dashed #ff66b2;
}

h3 {
    color: #ff66b2;
    text-shadow: 1px 1px 2px rgba(255, 105, 180, 0.5);
}
a {
    color: #66ccff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
